* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  width: 800px;
  height: 420px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.form {
  position: absolute;
  width: 50%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input {
  margin: 8px 0;
  padding: 10px;
}

.form button {
  margin-top: 15px;
  padding: 10px;
  background: orange;
  color: #fff;
  border: none;
  cursor: pointer;
}

.sign-in {
  left: 0;
}

.sign-up {
  right: 0;
  opacity: 0;
}

.overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background: orange;
  color: white;
  transition: 0.6s;
}

.overlay-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay button {
  margin-top: 15px;
  padding: 10px;
  background: white;
  color: orange;
  border: none;
  cursor: pointer;
}

/* ACTIVE MODE */
.container.active .overlay {
  transform: translateX(-100%);
}

.container.active .sign-up {
  opacity: 1;
}

.container.active .sign-in {
  opacity: 0;
}
